
/* Probe Designer home stylesheet */

#main {
	padding-top: 1em;
}

#title {
	margin-bottom: .75vw;
	font-size: 7.5vw;
	text-align: center;
	font-weight: 600;

	color: white;
	background-color: black;
	background-image: url("/images/title_background.png");
	background-size: cover;
	background-position: center;
	border-radius: 6px;
	text-shadow: 0 0 10px #323232;
}

@media screen and (min-width: 1200px) {
  #title {
    font-size: 4vw;
    margin-bottom: 1.5vw;
  }
}

/* TABS */

.nav.nav-tabs {
	font-size: 1.5em;
	font-weight: bold;
}

.tab-content {
	padding: 1em;
	font-size: 1.2em;
}

/* FORM */

#single_probe_form .wrap_submit,
#multi_probe_form .wrap_submit {
	margin: 1em 0;
	text-align: right;
}

#multi_probe_form .description {
	margin-bottom: 1em;
}

#multi_probe_form .description table th {
	text-align: center;
}

#multi_probe_form .description table td {
	padding: 0.5em 0;
	text-align: center;
	vertical-align: middle;
}

/* SEARCH */

#query_search {
	margin-bottom: 1em;
}

#queue {
	margin-top: 2em;
}