
/* GPSeq imaging home stylesheet */

#header {
	padding-top: 1em;
}

#title {
	font-family: "Lobster";
	font-size: 5em;
	text-align: center;
}

#description {
	margin: 2em 0;
	font-size: 1.4em;
	line-height: 2em;
	text-align: center;
}

#commands input[type=text] {
	margin-bottom: .5em;
}